:root {

  --text-left:rgb(201, 154, 0);
  --text-right:rgb(199, 0, 199);
  --text-left2:rgb(199, 0, 199);
  --text-right2:rgb(255, 238, 0);

  --letter: #ffffff;
  --button-background:red;
  --button-border:rgb(88, 6, 88);

  --button-before-1:rgb(207, 163, 19);
  --button-before-2:rgb(204, 18, 204);
  --button-after-1:rgb(201, 154, 0);
  --button-after-2:rgb(199, 0, 199);
  --button-shadow: rgb(88, 6, 88);

  /* --button-before-1:rgb(73,132,180);
  --button-before-2:rgb(97,155,203);
  --button-after-1:rgb(88,154,204);
  --button-after-2:rgb(90,150,199);
  --button-shadow: #2b638f;
  --button-background:#538fbe;
  --button-border:#2d6898;  */

}


@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


body {
  background-color: #070042;
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------- */

.board-row:after {
  clear: both;
  content: "";
  display: table;
  z-index: 2;
}

.game {
  min-width: 550px;
  display: flex;
  flex-direction: row;
  padding: 0px 20px 40px 40px;
  background-color: rgba(0,0,0,0);
  z-index: 2;
  position:relative;
}

.container {
  min-width: 550px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(20px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.178);
  z-index: 2;
  position:relative;
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #fff;
  font-weight: 900;
  font-size: 2rem;
  padding:10px 0 0 0;
  margin:0;
  height: 50px;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, var(--text-left) , var(--text-right));
  background: -o-linear-gradient(right, var(--text-left), var(--text-right));
  background: -moz-linear-gradient(right, var(--text-left), var(--text-right));
  background: linear-gradient(to right, var(--text-left) , var(--text-right)); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.game-board {
  z-index: 2;
}

.game-info {
  margin-left: 10px;
  
  
  width: 200px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 1.4em;
  font-weight: 600;
  padding: 5px 0 10px 0;
  font-weight: 700;
  z-index: 2;
  border-radius: 5px;
}

.status {
  margin:0;
  padding: 0;
  z-index: 2;
  color: #ffffff;
  font-weight: 800;
  background: -webkit-linear-gradient(left, var(--text-left2) , var(--text-right2));
  background: -o-linear-gradient(right, var(--text-left2), var(--text-right2));
  background: -moz-linear-gradient(right, var(--text-left2), var(--text-right2));
  background: linear-gradient(to right, var(--text-left2) , var(--text-right2)); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

ul {
  padding-left: 25px;
  list-style-type: none;
  z-index: 2;
  margin:0;
  
}

button {
  color: #ffffff;
  background-color: rgba(255,255,255,0.2);
  outline: none;
  z-index: 2;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 2px;
  border: 2px outset rgba(169, 169, 169, 0.7);
}

button:hover {
  cursor: pointer;
}

button:active {
  border: 2px inset rgba(169, 169, 169, 0.7);
}

.info a {
  z-index: 1;
  position: absolute;
  bottom: 5%;
  left:50%;
  transform: translate(-50%, -50%);
  padding:5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  text-decoration: none;
  font-weight: 700;
  font-size:1rem;

  transition-duration: 0.5s;
  background: -webkit-linear-gradient(left, var(--text-left) , var(--text-right));
  background: -o-linear-gradient(right, var(--text-left), var(--text-right));
  background: -moz-linear-gradient(right, var(--text-left), var(--text-right));
  background: linear-gradient(to right, var(--text-left) , var(--text-right)); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

a:hover {
  cursor: pointer;
  color: rgb(255, 217, 0);
  transition-duration: 0.5s;
  border: 1px solid white;
}

/* ---------------------------------------- */


.big-circle-1 {
  z-index: 0;
  position: absolute;
  top:25%;
  left:10%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: rgb(225,14,108);
  background: linear-gradient(0deg,rgb(225,31,65) 0%, rgb(225, 151, 14) 100%);
  filter: blur(40px);
}

.triangle {
  position: absolute;
  top:5%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 200px solid rgb(202, 199, 12);
  filter: blur(10px);
  transform: rotate(30deg);
  z-index: 0;      
}

.moon {
  z-index: 0;
  position: absolute;
  top:40%;
  left:70%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 115px 115px 0 0 rgb(6, 175, 167);
  filter: blur(20px);
}


/* ---------------------------------------- */




.square {
  z-index: 2;
  float: left;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 90px;
  width: 90px;
  height: 90px;
  padding: 0;
  margin: 10px;
  display: inline-block;
  text-decoration: none;

  color: var(--letter);
  background-color: var(--button-background);
  border: 1px solid var(--button-border);
  
  background-image: linear-gradient(bottom, var(--button-before-1) 0%, var(--button-before-2) 100%);
  background-image: -o-linear-gradient(bottom, var(--button-before-1) 0%, var(--button-before-2) 100%);
  background-image: -moz-linear-gradient(bottom, var(--button-before-1) 0%, var(--button-before-2) 100%);
  background-image: -webkit-linear-gradient(bottom, var(--button-before-1) 0%, var(--button-before-2) 100%);
  background-image: -ms-linear-gradient(bottom, var(--button-before-1) 0%, var(--button-before-2) 100%);

  background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, var(--button-before-1)),
        color-stop(1, var(--button-before-2))
        
    );

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 6px 0px var(--button-shadow), 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px var(--button-shadow), 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px var(--button-shadow), 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
 }

/* ------ */

 .square:active {
  background-image: linear-gradient(bottom, var(--button-after-1) 0%, var(--button-after-2) 100%);
  background-image: -o-linear-gradient(bottom, var(--button-after-1) 0%, var(--button-after-2) 100%);
  background-image: -moz-linear-gradient(bottom, var(--button-after-1) 0%, var(--button-after-2) 100%);
  background-image: -webkit-linear-gradient(bottom, var(--button-after-1) 0%, var(--button-after-2) 100%);
  background-image: -ms-linear-gradient(bottom, var(--button-after-1) 0%, var(--button-after-2) 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, var(--button-after-1)),
      color-stop(1, var(--button-after-2))
  );
 }

 /* ------ */

 .square:hover {
  cursor: pointer;
}

.square:focus {
  outline:none;
}
